.stat-icon::after {
  font-size: 0.75em;
  vertical-align: middle;
  font-family: 'Consolas';
  display: inline-block;
  width: 1.6em;
  text-align: center;
}

[data-stat=atk]::after {
  content: "▲";
}

[data-stat=def]::after {
  content: "◼";
}

[data-stat=spa]::after {
  content: "♥";
}

[data-stat=spdef]::after {
  content: "★";
}

[data-stat=spd]::after {
  content: "◆";
}
