.stat-icon::before {
  font-size: 0.75em;
  vertical-align: middle;
  font-family: 'Consolas';
  display: inline-block;
  width: 1.6em;
  text-align: center;
}

[data-stat=atk]::before {
  content: "▲";
}

[data-stat=def]::before {
  content: "◼";
}

[data-stat=spa]::before {
  content: "♥";
}

[data-stat=spdef]::before {
  content: "★";
}

[data-stat=spd]::before {
  content: "◆";
}
