@mixin stat-icon($icon) {
  &::before {
    content: $icon;
    font-size: 0.75em;
    vertical-align: middle;
    font-family: 'Consolas';
    display: inline-block;
    width: 1.6em;
    text-align: center;
  }
}

.atk {
  @include stat-icon("▲");
}

.def {
  @include stat-icon("◼");
}

.spa {
  @include stat-icon("♥");
}

.spdef {
  @include stat-icon("★");
}

.spd {
  @include stat-icon("◆");
}
