*, *::before, *::after {
  box-sizing: border-box;
}

html {
  color: $primary-font-color;
  font-family: $primary-font-family;
  font-size: $primary-font-size;
  line-height: $default-line-height;
  background-color: $brand-primary-bg-color;
}

main {
    margin: 0 auto;
    background-color: $brand-primary-color;
    border-radius: 1em;
    padding: 1em;

    @media screen and (min-width: 800px) {
      width: 60vw;
    }
}
